{% extends "base/base.html" %}
{%block start%}
<div class="container mt-5 pt-5">
    <div class="row">
        {%for pro in products%}
        <div class="col-md-3" style="width:350px;">
            <figure class="card card-product-grid">
                <div class="img-wrap"> <img src="/media/{{pro.images.first.image}}" style="height:300px; width:100%"> </div>
                <figcaption class="info-wrap border-top">
                    <a href="{%url "product_get" pro.slug %}" class="title"><b>{{pro.product_name}}</b></a>
                    <div class="price mt-2">${{pro.product_price}}.00</div> <!-- price-wrap.// -->
                </figcaption>
            </figure> <!-- card // -->
        </div> <!-- col.// -->
        {%endfor%}
      
        
       
    </div>

    </div>
{%endblock%}